h1{
    text-align: left;
    color: white;
    size: 28px;
}

#RegistrationBody{
    background-color: #636060;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0e53ac;

}

#navigation{

    text-align: right;
    display: flex;
    padding-right: 40px;
    margin: right 100px;
    justify-content: space-evenly;
    color: white;
    gap: 20px;
    max-width: 100%;
    height: auto;
    
}

a {
    color: white; 
    text-decoration: underline; 
    size: 30px;
}

#register1 {
    background-color: #c3bebe;
    width: 400px;
    height: 450px;
    padding: 20px;
    margin: 50px auto;
    border-radius: 8px;
    box-shadow: #007bff;

}

label {
    font-size: 20px;
    color: #000000;
    margin-bottom: 5px;
}

input{
    border-color: #007bff;
    box-shadow: #237bee;
    box-sizing: border-box;
    border-radius: 5px;
    width: 400px;
    padding: 10px;

}

button[type= "submit"]
{
    
    background-color: rgb(7, 61, 240);
    color: white;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; 
    width: 120px; 
}

button[type="cancel"]
{
    background-color: #c3bebe;
    color: #000000;
    padding: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 100px;
}

#image-container{
    position: relative;
    width: 100%;
}

#img1{
    box-sizing: border-box;
    display: flex;
    max-width: 100%;
    height: auto;
}

#TextBox {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    justify-content: space-evenly;
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-shadow: 20px 20px 4px #007bff;
}

#title1{
    font-size: 50px;
    text-align: center;
    text-shadow: #636060;
}

#SearchBox{
    position: absolute;
    left: 35%;
    font-size: 20px;
    box-sizing: 50px;
    color: #000000;
    margin-bottom: 5px;
}